# This is a sample build configuration for PHP.
# Check our guides at https://confluence.atlassian.com/x/e8YWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: php:7.2

definitions:
  services:
    mysql:
      image: mysql:5.7
      variables:
        MYSQL_DATABASE: lsusr_12345
        MYSQL_ROOT_PASSWORD: password
        MYSQL_USER: 'lsusr_12345'
        MYSQL_PASSWORD: 'password'

pipelines:
  default:
    - step:
        caches:
          - composer
        services:
          - mysql
        script:
          - apt-get update && apt-get install -y unzip libzip-dev libsodium-dev default-mysql-client
          - mysql -h 127.0.0.1 -u root -ppassword -e "SHOW DATABASES"
          - mysql -h 127.0.0.1 -u root -ppassword -e "SHOW VARIABLES LIKE '%sock%'"
          - mysql -h 127.0.0.1 -u root -ppassword -e "CREATE DATABASE limeservice_statistics"
          - mysql -h 127.0.0.1 -u root -ppassword -e "CREATE DATABASE limeservice_system"
          - mysql -h 127.0.0.1 -u root -ppassword -e "CREATE USER 'statistics'@'127.0.0.1' IDENTIFIED BY 'password'"
          - mysql -h 127.0.0.1 -u root -ppassword -e "GRANT ALL PRIVILEGES ON *.* TO 'statistics'@'127.0.0.1'"
          - mysql -h 127.0.0.1 -u root -ppassword limeservice_system < pipeline-sql-447.sql
          - pecl install xdebug && echo "zend_extension=$(find /usr/local/lib/php/extensions/ -name xdebug.so)" > /usr/local/etc/php/conf.d/xdebug.ini
          - docker-php-ext-install -j$(nproc) bcmath zip sodium mysqli pdo pdo_mysql
          - cp pipeline-config-447.php dbversion-447/application/config/config.php
          - cp pipeline-config-447.php userdata/config.php
          - cd dbversion-345
            # NB: Negating the result with ! doesn't work without quotes.
            # - '! find application/ -type f -name "*.php" -exec php -l {} \;  | grep -v "No syntax errors"'
          - cd ../dbversion-447
          - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
          - chmod +x tests/bin/lint-tests
          - chmod +x tests/bin/lint-application
          - composer update
          - DBENGINE=MyISAM php application/commands/console.php installfromconfig ../pipeline-config-447.php .
          - composer test
          - touch enabletests
          - ./third_party/bin/phpunit tests/limeservice/LimeSurveyProfessionalTest.php
