<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>LimeSurveyProfessional</name>
        <type>plugin</type>
        <creationDate>2018-10-04</creationDate>
        <lastUpdate>2022-02-16</lastUpdate>
        <author>Olle Haerstedt</author>
        <authorUrl>https://www.limesurvey.org</authorUrl>
        <version>1.0.2</version>
        <license>GNU General Public License version 2 or later</license>
        <description><![CDATA[LimeSurvey Cloud customizations]]></description>
        <apiUrl>http://account-rest-apiPROD.lsnet</apiUrl>
        <apiUrlDev>http://account-rest-api.lsnet</apiUrlDev>
        <apiUriSignin>/installation/signin</apiUriSignin>
        <apiUriHasUnpaidDuringGp>/v1/invoices/unpaid/during-graceperiod</apiUriHasUnpaidDuringGp>
    </metadata>

    <compatibility>
        <version>5.0</version>
    </compatibility>

    <!-- Core plugins don't need updaters. -->
    <updaters>
    </updaters>
</config>
